@charset "utf-8";
/* CSS Document */

body {margin:0;
	  padding:0;}


#top{background:url(images/info_div_back.png) repeat-x;
	 width:100%;
	 height:300px;
	 }

#logo {width:200px;
	   height:63px;
	   position:relative;
	   left:20px;
	   top:20px;}

#top-container{width:900px;
			   margin:0 auto;
			   border:solid 1px #000000;
			   height:800px;}
			   
.search {float:right;
		 position:relative;
		 right:30px;
		 top:20px
}

input {width:120px;}